* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  // font-size: 50%;
  font-size: 16px;
  // font-family: "Nanum Myeongjo", serif;
  // font-family: "Nunito Sans", serif;
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  background-color: #2b3137;
}
@media only screen and (min-width: 1200px) {
  html {
    // font-size: 62.5%;
  }
}

button {
  cursor: pointer;
  height: 100%;
  padding: 0rem 0.5rem;
  border-radius: 5px;
  border: 0.5px solid white;
  font-size: 0.8rem;
}
.blackBtn {
  background-color: rgb(36, 41, 46);
  color: white;
}
.whiteBtn {
  background-color: white;
  color: rgb(36, 41, 46);
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  // padding: 0rem 3%;
}
